body
{
    background-color: greenyellow;
}

h1
{
    font-family: 'Oswald', sans-serif;
    background-color: cornsilk;
    color: rgb(18, 0, 255);
}

#show_sketch
{
    float: right;
}

#score
{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
}

#timer
{
    float: right;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 2px;
}

p
{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: black;
}

#sketch_to_be_drawn
{
    color: red;
}